@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
body{
	color: #000;
	font-family: 'Open Sans', sans-serif;
	background: #e9e9e9 url(../images/main-pic.jpg) 50% 97px no-repeat;
	line-height: 1.3;
	font-size: 13px;
	min-width: 1000px;
}
.container{
	width: 940px;
	margin: 0 auto;
}
.main-nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-nav{
	background: #52bbde;
	border-radius: 3px;
	font-weight: 300;
	margin-top: 25px;
}
.main-nav>ul{
	font-size: 0;
}
.main-nav>ul>li{
	display: inline-block;
 padding: 8px 0 10px;
 font-size: 24px;
 position: relative;
}
.main-nav>ul>li>a{
	display: inline-block;
	padding: 5px 22px;
	color: #fff;
	text-decoration: none; 
	border-left: 1px solid #75c9e5;
	border-right: 1px solid #44a3bf;
}
.main-nav>ul>li:first-child{
	border-radius: 3px 0 0 3px;
}
.main-nav>ul>li:first-child>a{
	border-left: none;
}
.main-nav>ul>li:last-child>a{
	border-right: none;
}
.main-nav>ul>li:first-child{
	border-radius: 3px 0 0 3px;
}
.main-nav .sub>a{
	padding-right: 32px;
}
.main-nav .sub:hover::before{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 4px 0 4px;
	border-color: #fff transparent transparent transparent;
	position: absolute;
	top: 27px;
	right: 17px;
}
.main-nav>ul>li:hover{
	background: #4292ad;
	margin-left: -1px;
	padding-left: 1px;
}
.main-nav>ul>li:first-child:hover>{
	margin-left: 0;
	padding-left: 0;
}
.main-nav>ul>li:hover>a{
	border-color: transparent;
	}
.main-nav>ul>li:hover+li>a{
	border-color: transparent;
}
.main-nav .sub-nav{
	display: none;
	position: absolute;
	left: 0;
	top: 59px;
	background: #4292ad;
	padding: 10px 0 5px;
	border-radius: 0 0 3px 3px;
	min-width: 250px;
}
.main-nav>ul>li:hover .sub-nav{
	display: block;
}
.sub-nav li{
	margin: 0 0 2px;
}
.sub-nav a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	white-space: nowrap;
	display: block;
	padding: 7px	24px;
}
.sub-nav a:hover{
	background: #61a5bc;
	color: #376778;
	font-weight: 400;

}